.box {
  background: red;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 10px green solid;
  height: 300px;
  width: calc(50% - 30px);
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
}

.box:last-of-type:hover {
  color: blue;
  border-radius: 50px;
}

html,
body {
  height: 100%;
}

/*   height: 300px; */
/*   width: 50%; */
/*   box-sizing: border-box; */
/* } */

#first-box {
  display: none;
}
